/* Media queries */
/* Container */
div.wpforms-container-full .wpforms-form {
  max-width: 60%;
  margin: 0 auto;
}

@media (max-width: 992px) {
  div.wpforms-container-full .wpforms-form {
    max-width: 100%;
  }
}

div.wpforms-container-full .wpforms-form input.wpforms-field-medium,
div.wpforms-container-full .wpforms-form select.wpforms-field-medium,
div.wpforms-container-full .wpforms-form .wpforms-field-row.wpforms-field-medium,
div.wpforms-container-full .wpforms-form .wpforms-field-textarea textarea {
  max-width: 100%;
}

div.wpforms-container-full .wpforms-form .wpforms-submit-container {
  display: flex;
  justify-content: center;
}

div.wpforms-container-full .wpforms-form .wpforms-submit-container button[type=submit] {
  font-size: 18px;
  font-weight: bold;
  text-transform: uppercase;
  fill: #ffffff;
  color: #ffffff;
  background-color: #ff0044;
  border-radius: 100px 100px 100px 100px;
  padding: 15px 25px 15px 25px;
  transition: all .3s;
}

div.wpforms-container-full .wpforms-form .wpforms-submit-container button[type=submit]:hover {
  color: #31DAF2;
  background-color: #ffffff;
  transform: scale(1.1);
}

#menu-main-menu .sub-menu {
  display: flex;
  flex-direction: column;
}

.rehub_chimp_flat #mc_embed_signup input#mc-embedded-subscribe {
  border: 1px solid #000;
}
